<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Battle! </h1>
    <h3> I want to rip your heart out! Welcome to Battle! </h3>
    <form action='/names' method='post'>
      Player 1: <br>
      <input type="text" name="Player 1"><br>
      Player 2: <br>
      <input type="text" name="Player 2"><br>
      <input type="submit" value="FIGHT!">
    </form>
  </body>
</html>
